*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

} 

body{
    background-color: #e1d4b6;
}

body h1::selection{
    color: goldenrod;
}

body h1:hover{
    color: goldenrod;
    transition: all 0.5s;
}

body p::selection{
    color: goldenrod
}

body img::selection{
    color: transparent;
}

.banner{
    background-image: url("../../Imagenes/SobreNosotros/Banner/sobreNosotrosBanner.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#video-tratorria{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    flex-wrap: wrap;
    justify-content: center;
    width: 50vw;
    text-align: center;
    border-radius: 10px;
}


.textoBanner{
    margin: auto;
    color: white;
    width: fit-content;
    height: fit-content;
    padding-top: 80px;
}

.textoBanner h1{
    padding: 90px 0 70px 0;
    font-size: 100px;
    margin: 0%;
}

.textoBanner p{
    padding-left: 250px; 
    font-size:30px;
    font-weight: bold;
}

.bienvenida{
    background-color: white;
    position: absolute;
    bottom: -323px;
    left: 0;
    right: 0;
    margin: auto;
    width: 45%;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
}

.bienvenida h1{
    padding-bottom: 20px;
}

.bienvenida p{
    letter-spacing: 0.05px;
    line-height: 30px;
}

main{
    padding-top: 565px;
}

main img{
    width: 100%;
    margin-bottom: -3px;
}

.txtInspiracion{
    padding-top: 50px;
    background-color: white;
    text-align: center;
}

.txtInspiracion p{
    width: 50%;
    margin: auto;
    padding-top: 25px;
    letter-spacing: 0.05px;
    line-height: 30px;
}

.txtBella{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Bride', sans-serif;
    padding-bottom: 20px;
    animation-duration: 1.5s;
}

.txtBella:hover{
    animation-name: txtBella;
    animation-iteration-count: infinite;
}

@keyframes txtBella {
    from{color: black;}
    to{color: goldenrod;}
}

