*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
} 

body{
    
    background-color: #e1d4b6;
}

/*____________________________________________________________________Header________________________________________________________________*/

header{
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.900);
}

.navBar{
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0px;
    padding: 0%;
}

.navBar li{
    padding-top: 30px;
}

.navBar li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.navBar li a:hover{
    text-decoration: none;
    color: goldenrod;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.logoContainer{
    text-align: center;
    width: fit-content;
}

.logoTrattoria{
    width: 175px;
    height: 80px;
}

.banner{
    background-image: url("../../Imagenes/Reservaciones/Banner/bannerReservaciones.jpg");
    background-size: s;
    width: 100%;
    height: 100vh;
}

#Title {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 50px;
    padding-top: 35vh;
    color: white;
}

/*____________________________________________________________________Main________________________________________________________________*/

#section1 {
    display: flex;
    justify-content: center;
}

#subsection1  {
    text-align: center;
    width: 50%;
    background-color: #f0eadb;
    margin: 50px 15px 50px 15px;
    padding: 20px;
}

#formulario {
    padding: 0 0 0 15px;
}

#formulario form div  { 
    padding: 15px;
}

.input {
    border: 1px #646464 solid;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
}

.input:hover {
    border: 3px #646464 solid;
    transition: 0.3s;
}

.submit {
    border: 1px #646464 solid;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0 15px 0;
    width: 150px;
}

.submit:hover {
    border: 4px goldenrod solid;
    transition: 0.5s;

}

/*____________________________________________________________________Footer________________________________________________________________*/
footer {
    color: #e1d4b6;
    background-color: #424242;
}

.footer-content {
    padding: 20px 100px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#footer-list li{
    list-style-type: none;
    margin: 10px 10px;
}


#footer-list li a{
    color: #e1d4b6;
    text-decoration: none;
}

#footer-list li:hover{
    color: #e1d4b6;
    text-decoration: none;
    font-size: 18px;
    transition: 2s;
}

.footer-input {
    border: 1px #646464 solid;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    width: 300px;
}

.footer-input:hover {
    transition: 0.3s;
}

#social-media {
    display: flex;
    list-style: none;
    align-items: flex-start;
}

#social-media li {
    padding: 30px 25px;
}

#social-media li:hover {
    padding: 25px;
    opacity: 0.5;
    transition: 0.5s;
}

#copyright {
    border-top: 1px solid white;
    padding: 10px 50px 10px 50px;
}


