*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
} 

body{
    
    background-color: #e1d4b6;
}

body h1::selection{
    color: goldenrod;
}

body h1:hover{
    color: goldenrod;
    transition: all 0.5s;
}

body p::selection{
    color: goldenrod
}

body label::selection{
    color: goldenrod
}

body img::selection{
    color: transparent;
}

.banner{
    background-image: url("../../Imagenes/Contactanos/Banner/contactanosBanner.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#Title {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 50px;
    padding-top: 54vh;
    color: white;
}

#section1 {
    display: flex;
}

#subsection1, #subsection2  {
    text-align: center;
    width: 50%;
    background-color: #f0eadb;
    margin: 50px 15px 0px 15px;
    padding: 20px;
}

#formulario {
    padding: 0 0 0 15px;
}

#formulario form div  { 
    padding: 15px;
}

.input {
    border: 1px #646464 solid;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
}

.input:hover {
    transform: scale(1.03, 1.03);
    transition: 0.3s;
    -webkit-transform: scale(1.03, 1.03);
    -moz-transform: scale(1.03, 1.03);
    -ms-transform: scale(1.03, 1.03);
    -o-transform: scale(1.03, 1.03);
}

.submit {
    border: 1px #646464 solid;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0 15px 0;
    width: 150px;
}

.submit:hover {
    border: 4px goldenrod solid;
    transition: 0.5s;

}

#section2 {
    background-color: #f0eadb;
    margin: 50px 15px 50px 15px;
}


#section2 {
    background-color: #f0eadb;
    margin: 50px 15px 50px 15px;
}

#subsection2 {
    padding-top: 30px;
}

#subsection2-items {
    margin-top: 30px;
}

#subsection2-items ul{
    list-style: none;
}

.social-media-contact{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}