header{
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: #e1d4b6ef;
}

.navBar{
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0px;
    padding: 0%;
}

.navBar li{
    padding-top: 30px;
}

.navBar li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.navBar li a:hover{
    text-decoration: none;
    color: goldenrod;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.navBar li a::selection{
    background: transparent;
}

.logoContainer{
    text-align: center;
    width: fit-content;
}

.logoTrattoria{
    width: 175px;
    height: 80px;
}