footer {
    color: #e1d4b6;
    background-color: #424242;
}

.footer-content {
    padding: 20px 100px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#footer-list li{
    list-style-type: none;
    margin: 10px 10px;
}


#footer-list li a{
    color: #e1d4b6;
    text-decoration: none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#footer-list li a:hover{
    color: goldenrod;
}

.footer-input {
    border: 1px #646464 solid;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    width: 300px;
}

.footer-input:hover {
    transition: 0.3s;
}

#social-media {
    display: flex;
    list-style: none;
    align-items: flex-start;
}

#social-media li {
    padding: 30px 25px;
    transition: 0.5s;
}

#social-media li:hover {
    padding: 25px;
    opacity: 0.5;
}

#copyright {
    border-top: 1px solid white;
    padding: 10px 50px 10px 50px;
}