*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

} 

body{
    background-color: #e1d4b6;
}

body h1::selection{
    color: goldenrod;
}

body h1:hover{
    color: goldenrod;
    transition: all 0.5s;
}

body p::selection{
    color: goldenrod
}

body img::selection{
    color: transparent;
}

.banner{
    background-image: url("../../Imagenes/Menu/MenuBanner/menuBanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-bottom: 3px;
}

.banner p, .banner h1{
    margin: auto;
    color: white;
    width: fit-content;
    height: fit-content;
}

.banner h1{
    padding: 90px 0 45px 0;
    font-size: 100px;
}

.banner p{
    font-size: 50px;
    font-family: 'Bride', sans-serif;
    text-align: center;
}

.platosContainer{
    display: flex;
}

.platosContainer img{
    width: 50%;
}

.txtplato{
    width: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    background-size: cover;
    padding-top: 150px;
    text-align: center;
}

.txtplato p{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.05px;
    line-height: 25px;
}

.precioPlatillo{
    font-weight: bold;
}

.listaMenu{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 50px;
}

.listas{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.listas ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.listas h1{
    color: goldenrod;
}

.bloque1{
    width: 100%;
}

.bloque2{
    width: 100%;
}

.bloque1 ul h1 , .bloque2 ul h1{
    padding: 20px 0 10px 0;
}

.listas ul li{
    letter-spacing: 0.05px;
    line-height: 30px;
    font-size: 20px;
}