*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
} 

body{
    background-color: #e1d4b6;
}

body h1::selection{
    color: goldenrod;
}

body h1:hover{
    color: goldenrod;
    transition: all 0.5s;
}

body p::selection{
    color: goldenrod
}

body label::selection{
    color: goldenrod
}

body img::selection{
    color: transparent;
}

body{
    
    background-color: #e1d4b6;
}

.banner{
    background-image: url("../../Imagenes/Reservaciones/Banner/bannerReservaciones.jpg");
    background-size: s;
    width: 100%;
    height: 100vh;
}

#Title {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 50px;
    padding-top: 35vh;
    color: white;
}

#section1{
    display: flex;
    justify-content: center;
}

#subsection1{
    text-align: center;
    width: 50%;
    background-color: #f0eadb;
    margin: 50px 15px 50px 15px;
    padding: 20px;
}

#formulario {
    padding: 0 0 0 15px;
}

#formulario form div  { 
    padding: 15px;
}

.input {
    border: 1px #646464 solid;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
}

.input:hover {
    transform: scale(1.03, 1.03);
    transition: 0.3s;
}

.submit {
    border: 1px #646464 solid;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0 15px 0;
    width: 150px;
}

.submit:hover {
    transform: scale(1.03, 1.03);
    border-color:goldenrod;   
    transition: 0.5s;

}
