*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

} 

body{
    background-color: #e1d4b6;
}

body h1::selection{
    color: goldenrod;
}

body h1:hover{
    color: goldenrod;
    transition: all 0.5s;
}

body p::selection{
    color: goldenrod
}

body img::selection{
    color: transparent;
}

.banner{
    background-image: url("../../Imagenes/Home/Banner/banner.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.textoBanner{
    margin: auto;
    color: white;
    width: fit-content;
    height: fit-content;
}

.textoBanner h1{
    padding: 90px 0 70px 0;
    font-size: 100px;
    margin: 0%;
}

.textoBanner p{
    font-size: 50px;
    font-family: 'Bride', sans-serif;
    text-align: center;
}

.bienvenida{
    background-color: white;
    position: absolute;
    bottom: -360px;
    left: 0;
    right: 0;
    margin: auto;
    width: 45%;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.bienvenida h1{
    padding-bottom: 20px;
}

.bienvenida p{
    letter-spacing: 0.05px;
    line-height: 30px;
}

.collage{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 350px;
}

.collage a img{
    width: 400px;
    height: 280px;
    padding: 6px;
    border-radius: 10px;
}

.ingredientes{
    padding-top: 50px;
    display: flex;
}

.ingredientes img{
    width: 50%;
}

.txtIngredientes{
    width: 50%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 100px;
}

.txtIngredientes p{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.05px;
    line-height: 25px;
}

.txtIngredientes p::selection{
    color: goldenrod;
}

.txtIngredientes h1:hover{
    color: goldenrod;
    transition: all 0.5s;
}

.menuHome{
    display: flex;
}

.menuHome img{
    width: 50%;
}

.txtMenu{
    width: 50%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 100px;
}

.txtMenu h1:hover{
    color: goldenrod;
    transition: all 0.5s;
}

.txtMenu p{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.05px;
    line-height: 25px;
}

.txtMenu p::selection{
    color: goldenrod;
}

.botonMenu{
    margin-top: 10px;
    padding: 5px;
    width: 26%;
    border-radius: 0%;
    border: 3px solid;
    transition: all 0.5s;
}

.botonMenu:hover{
    border: 3px solid goldenrod;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    width: 23%;
}

.ReservHome{
    display: flex;
}

.ReservHome img{
    width: 50%;
}

.txtReserv{
    width: 50%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 120px;
}

.txtReserv p{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.05px;
    line-height: 25px;
}